{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Vista Carros</h1>

<form action="{% url 'form_1' %}" method="POST">
    {% csrf_token %}
    <label for="marca">Marca:</label>
    <select name="marca">
        <option value="toyota">Toyota</option>
        <option value="honda">Honda</option>
        <option value="ford">Ford</option>
        <option value="nissan">Nissan</option>
    </select>

    <label for="modelo">Modelo:</label>
    <select name="modelo">
        <option value="corolla">Corolla</option>
        <option value="civic">Civic</option>
        <option value="focus">Focus</option>
        <option value="altima">Altima</option>
    </select>

    <label for="anio">Año:</label>
    <input type="number" name="anio" placeholder="Ingrese el año" maxlength="4" pattern="\d{1,4}">

    <label for="precio_por_dia">Precio por día:</label>
    <input type="text" name="precio_por_dia" placeholder="Ingrese el precio por día" maxlength="10" pattern="^\d{1,10}(\.\d{1,2})?$">

    <label for="matricula">Matricula:</label>
    <input type="text" name="matricula" placeholder="Ingrese la matricula del vehiculo" maxlength="8" >

    <label for="disponible">Disponible:</label>
    <input type="number" name="disponible" placeholder="Ingrese la disponibilidad" min="1" required>

    <button>Guardar</button>

     <table border="1">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Precio por Día</th>
                <th>Matricula</th>
                <th>Disponible</th>
            </tr>
        </thead>
        <tbody>
            {% for auto in autos %}
            <tr>
                <td>{{ auto.marca }}</td>
                <td>{{ auto.modelo }}</td>
                <td>{{ auto.anio }}</td>
                <td>{{ auto.precio_por_dia }}</td>
                <td>{{ auto.matricula}}</td>
                <td>{{ auto.disponible }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

</body>
</html>